<% if (theme.verifyPassword.enable && page.password) { %>
<script src="<%- theme.crypto_js %>"></script>
<script>
  (function() {
    let pwd = '<%- page.password %>';
    if (pwd && pwd.length > 0) {
      if (typeof(CryptoJS) == "undefined" || pwd !== CryptoJS.SHA256(prompt('<%- theme.verifyPassword.promptMessage %>')).toString(CryptoJS.enc.Hex)) {
        alert('<%- theme.verifyPassword.errorMessage %>');
        location.href = '<%- url_for("/")  %>';
      }
    }
  })();
</script>
<noscript>
  <div class="njs">
    <p>本内容受JavaScript密码保护，请开启JavaScript访问！<br>Your browser does not support JavaScript!</p>
  </div>
  <style>
    .article-entry,.tooltip-left{
      display: none;
    }
    .njs{
      line-height: 1.8em;
      padding-right: 7.6923%;
      padding-left: 7.6923%;
    }
    @media screen and (max-width: 800px){
      .njs{
        padding: 10px 0px 20px;
        }
      }
  </style>
</noscript>
<% } %>