<style>
    /* 适配yilia主题 */
    #valine {
        padding: 0 30px;
    }
    #valine .vwrap{
        border: 1px solid #c8c8c8;
    }
    #valine .vwrap .vheader input,#valine .vcard{
        border-bottom: 1px dashed #c8c8c8;
    }
    #valine .vwrap button,#valine .vmore{
        background: #c8c8c8;
    }
    @media screen and (max-width: 800px) {
        #valine{
            padding: 0 10px;
        }
    }
</style>
<div id="valine"></div>
<script src="https://cdn.jsdelivr.net/npm/valine@latest/dist/Valine.min.js"></script>
<script>
    new Valine({
        el: '#valine',
        appId: '<%- theme.valine.appId %>',
        appKey: '<%- theme.valine.appKey %>',
		placeholder: '<%= theme.valine.placeholder %>',
		avatar: '<%- theme.valine.avatar %>',
		pageSize: '<%- theme.valine.pageSize %>',
        lang: '<% if (config.language == "zh-CN") {  %>zh-cn<% } else { %>en<% } %>',
        visitor: '<%- theme.valine.visitor %>' === 'true',
		highlight: '<%- theme.valine.highlight %>' === 'true',
		recordIp: '<%- theme.valine.recordIP %>' === 'true',
        enableQQ: '<%- theme.valine.enableQQ %>' === 'true'
    });
</script>