<% if (theme.music && theme.aplayer.enable || theme.music && theme.mobile_aplayer.enable) { %>
<%# aplayer #%>
<script src="<%- theme.js.aplayer %>"></script>
<% } %>
<% if (theme.music && site.data && site.data.musics) { %>
<% var audiosJson = JSON.stringify(site.data.musics); %>
<div class="music-player">
  <style>
    #aplayer ::-webkit-scrollbar-button,#aplayer ::-webkit-scrollbar-track{
      display: none;
    }
  </style>
  <% if (theme.aplayer.showTitle.enable && !theme.aplayer.fixed) { %>
  <div class="title">
  <%- theme.aplayer.showTitle.title %>
  </div>
  <% } %>
  <div id="aplayer"></div>
  <script>
    const ap = new APlayer({
      container: document.getElementById('aplayer'),
      fixed: '<%- theme.aplayer.fixed %>' === 'true',
      autoplay: '<%- theme.aplayer.autoplay %>' === 'true',
      theme: '<%- theme.aplayer.theme %>',
      loop: '<%- theme.aplayer.loop %>',
      order: '<%- theme.aplayer.order %>',
      preload: '<%- theme.aplayer.preload %>',
      lrcType: Number('<%- theme.aplayer.lrcType %>'),
      volume: Number('<%- theme.aplayer.volume %>'),
      listFolded: '<%- theme.aplayer.listFolded %>' === 'true',
      listMaxHeight: '<%- theme.aplayer.listMaxHeight %>',
      audio: JSON.parse('<%- audiosJson %>')
    });
  </script>
</div>
<% } %>