<% if (theme.mobile_aplayer.enable && site.data && site.data.musics) { %>
<% var audiosJson = JSON.stringify(site.data.musics); %>
<%# mobile-aplayer #%>
<nav class="music-player">
  <% if (theme.mobile_aplayer.showTitle.enable && !theme.mobile_aplayer.fixed) { %>
  <div class="title">
  <%- theme.mobile_aplayer.showTitle.title %>
  </div>
  <% } %>
  <div id="mobile-aplayer"></div>
  <script>
    const map = new APlayer({
      container: document.getElementById('mobile-aplayer'),
      fixed: '<%- theme.mobile_aplayer.fixed %>' === 'true',
      autoplay: '<%- theme.mobile_aplayer.autoplay %>' === 'true',
      theme: '<%- theme.mobile_aplayer.theme %>',
      loop: '<%- theme.mobile_aplayer.loop %>',
      order: '<%- theme.mobile_aplayer.order %>',
      preload: '<%- theme.mobile_aplayer.preload %>',
      lrcType: Number('<%- theme.mobile_aplayer.lrcType %>'),
      volume: Number('<%- theme.mobile_aplayer.volume %>'),
      listFolded: '<%- theme.mobile_aplayer.listFolded %>' === 'true',
      listMaxHeight: '<%- theme.mobile_aplayer.listMaxHeight %>',
      audio: JSON.parse('<%- audiosJson %>')
    });
  </script>
</nav>
<% } %>