<% if (theme.music.mobile_enable && site.data && site.data.musics) { %>
<% var audiosJson = JSON.stringify(site.data.musics); %>
<!-- mobile-aplayer -->
<nav class="music-player">
  <% if (theme.music.mobile_showTitle.enable && !theme.music.mobile_fixed) { %>
  <div class="title">
  <%- theme.music.mobile_showTitle.mobile_title %>
  </div>
  <% } %>
  <div id="mobile-aplayer"></div>
  <script>
    const map = new APlayer({
      container: document.getElementById('mobile-aplayer'),
      fixed: '<%- theme.music.mobile_fixed %>' === 'true',
      autoplay: '<%- theme.music.mobile_autoplay %>' === 'true',
      theme: '<%- theme.music.mobile_theme %>',
      loop: '<%- theme.music.mobile_loop %>',
      order: '<%- theme.music.mobile_order %>',
      preload: '<%- theme.music.preload %>',
      lrcType: Number('<%- theme.music.mobile_lrcType %>'),
      volume: Number('<%- theme.music.mobile_volume %>'),
      listFolded: '<%- theme.music.mobile_listFolded %>' === 'true',
      listMaxHeight: '<%- theme.music.mobile_listMaxHeight %>',
      audio: JSON.parse('<%- audiosJson %>')
    });
  </script>
</nav>
<% } %>