<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('partial/head') %>
<body>
  <%- partial('partial/search') %>
  <div id="container" q-class="show:isCtnShow">
    <canvas id="anm-canvas" class="anm-canvas"></canvas>
    <div class="left-col" q-class="show:isShow">
      <%- partial('partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">
      <%- partial('partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div id="wrapper" class="body-wrap">
        <div class="menu-l">
          <div class="canvas-wrap">
            <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" id="myCanvas1" class="anm-canvas"></canvas>
          </div>
          <div id="js-content" class="content-ll">
            <%- body %>
            <%- partial('partial/aside', {index: true}) %>
          </div>
        </div>
      </div>
      <%- partial('partial/footer') %>
    </div>
    <%- partial('partial/tools') %>
    <%- partial('partial/viewer') %>
    <%- partial('partial/after-footer') %>
  </div>
</body>
</html>