<script src="<%- theme.js.mobile %>"></script>
<script src="<%- theme.js.main %>"></script>
<script src="<%- theme.js.scrollProgress %>"></script>
<script src="<%- theme.js.script %>"></script>
<% if (theme.music.enable || theme.music.mobile_enable) { %>
<script src="<%- theme.aplayer_js %>"></script>
<% } %>
<% if (theme.clipboard) { %>
<script src="<%- theme.clipboard_js %>"></script>
<script>
    /* 
    页面载入完成后，创建复制按钮
    create copy button 
    */
    !function (e, t, a) {
        var initCopyCode = function(){
            var copyHtml = "<button id='js-btn-copy'><%- _p('copy') %></button>";
            $(".code pre").before(copyHtml);
        }
        initCopyCode();
        // 代码块复制
        // code block copying
        $(".code").on("click","#js-btn-copy",function(button){
            var copy=button.currentTarget;
            var clipboard = new ClipboardJS('#js-btn-copy', {
                target: function(trigger) {
                    if(trigger.nextElementSibling != null){
                        return trigger.nextElementSibling;
                    }
                }
            });
            clipboard.on('success', function(e) {
                e.clearSelection();
                $(copy).html("<%- _p('copy_success') %>");
                clipboard.destroy();
            });
            clipboard.on('error', function(e) {
                $(copy).html("<%- _p('copy_error') %>");
                clipboard.destroy();
            });
            $(copy).mouseout(function(){$(event.currentTarget).html("<%- _p('copy') %>")});
        });
    }(window, document);
</script>
<% } %>
<script>
    !function(){
        !function(e){
            var t=document.createElement("script");
            document.getElementsByTagName("body")[0].appendChild(t),t.setAttribute("src",e)
        }("<%- theme.js.slider %>")
    }()
</script>